.imagesContainer {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.imageContentsTitle {
  font-size: 39px;
  width: fit-content;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  color: var(--warning);
}

.imagesOne {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.mainImage {
  width: 50vw;
  height: 76vh;
  object-fit: cover;
  border-radius: 26px;
  clip-path: inset(0 100% 0 0);
  animation: revealLeftToRight 2s ease-out forwards;
}

.textImage {
  font-size: 36px;
  font-weight: 600;
  color: #313131;
}

.addsImage {
  width: 20vw;
  height: 36vh;
  object-fit: cover;
  border-radius: 26px;
  clip-path: inset(0 100% 0 0);
  animation: revealLeftToRight 2s ease-out forwards;
}
.textImageAdds {
  font-size: 26px;
  font-weight: 600;
  padding-left: 10px;
  color: #313131;
}

@keyframes revealLeftToRight {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.imagesTwo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 80px;
  margin-top: 80px;
}

.mainImageTwo {
  width: 50vw;
  height: 76vh;
  object-fit: cover;
  border-radius: 26px;
  clip-path: inset(0 0 0 100%);
  animation: revealRightToLeft 2s ease-out forwards;
}

.addsImageTwo {
  width: 20vw;
  height: 36vh;
  object-fit: cover;
  border-radius: 26px;
  clip-path: inset(0 0 0 100%);
  animation: revealRightToLeft 2s ease-out forwards;
}

@keyframes revealRightToLeft {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
