.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  height: auto;
  margin-bottom: 0;
}

.video {
  margin: 10px;
  display: flex;
  justify-self: center;
  width: calc(100% - 30px);
  border-radius: 26px;
}

.description {
  position: absolute;
  top: 42%;
  right: 5%;
  max-width: 300px;
  color: #fff;
  font-size: 18px;
  text-align: end;
}

.slogan {
  position: absolute;
  top: 68%;
  left: 6%;
  font-size: 68px;
  font-weight: 600;
  max-width: 550px;
  color: #fff;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
