.marquee {
  position: relative;
  width: 90%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  background: #fff;
  overflow: hidden;
}

.marquee_viewport {
  overflow: hidden;
}

.marquee_track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: marquee 10s linear infinite;
}

.marquee_item {
  min-width: 260px;
  max-width: 300px;
  height: 100px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee_item img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
  filter: grayscale(10%);
}

.marquee_fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120px;
  pointer-events: none;
  z-index: 2;
}

.marquee_fade_left {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}

.marquee_fade_right {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* 
.marquee:hover .marquee__track {
  animation-play-state: paused;
} */
