.marquee {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
  background: #fff;
  overflow: hidden;
}

.marquee__viewport {
  overflow: hidden;
}

.marquee__track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: marquee 10s linear infinite;
}

.marquee__item {
  min-width: 260px;
  max-width: 300px;
  height: 100px;
  padding: 15px;
  background: #faf9f9;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee__item img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
  filter: grayscale(30%);
}

.marquee__fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120px;
  pointer-events: none;
  z-index: 2;
}

.marquee__fade--left {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}

.marquee__fade--right {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* 
.marquee:hover .marquee__track {
  animation-play-state: paused;
} */
