.hero {
  position: relative;

  width: 100%;
  height: 126vh;
}

.introduction {
  position: relative;
  max-width: 1110px;
  font-size: 34px;
  margin: 100px auto;
  line-height: 1.4;
}

.letter {
  opacity: 0.15;
  display: inline-block;
  transition: opacity 0.2s ease;
}

.letter.visible {
  opacity: 1;
}
